<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/
bootstrap.min.js"></script>

<link rel="stylesheet" href="style.css">

  <title>services</title>
</head>
<body class="bg-success">

  <nav class="navbar navbar-inverse d-flex justify-content-between">
    <div class="container-fluid x">
      <div class="navbar-header ">
        <a class="navbar-brand" href="#">Express</a>
      </div>
      <div class="p-2 d-flex self-align-right">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Contact-Us</a></li>
        <li><a href="#">Services</a></li>

      </ul>
      </div>
    </div>
  </nav>
    
  <div class="container">
    <h3>Services we provide</h3>
    <p>Here you find all the services we provide</p>
  </div>
  
  
</body>
</html>